*{
    padding: 0;
    margin: 0;
}

html{
    scroll-behavior: smooth;
}

.demo-wrap {
    position: relative;
  }
  
  .demo-wrap:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.9;
    /* background-image: url('bgimage.jpg'); */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    filter: grayscale(100);
  }
  
  .demo-content {
    position: relative;
  }

.container{
    position: relative;
    margin-top: 100px;
}

body{
    background-color: white;
    font-family: poppins, sans-serif;
    color: maroon;
}

section{
    max-width: 144rem;
    width: 90%;
    height: 100%;
    padding: 1.5%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

.hero{
    margin-top: 15rem;
    /* background-color: #bbb; */
    text-align: center;
    color: black;
}

.buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-basis: 50%;
}

.btn1, .btn2{
    padding: 2rem;
    font-size: 3rem;
    width: 100px;
}

.small-bg{
    display: none;
    position: absolute;
    width: 100%;
}
.small-bg img{
    max-width: 144rem;
    width: 100%;
    background-position: left center;
    background-repeat: no-repeat
}
.title{
    display: flex;
    flex-direction: column;
    font-size: 1.4rem;
    margin-top: 8rem;
}

.title p{
    font-size: 1.8rem;
    width: 100%;
    font-style: italic;
}

h1{
    font-size: 4rem;
    width: 100%;
    color:maroon;
    letter-spacing: 6px;
}

nav{
    font-size: 1.3rem;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    padding: 1.7rem 6%;
    height: 100px;
    background-color: maroon;
    z-index: 99;
}


#active:hover{
    background-color: white;
    color: black;
}

.nav-links{
    float: right;
    padding: 0;
    margin: 0;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-links li{
    list-style-type: none;
}

.nav-links a{
    display: block;
    font-weight: bold;
    text-decoration: none;
    color: white;
    /* background-color: rgba(41, 41, 34, 0.842); */
    border-radius: 1.7rem;
    padding: 0.7em;
    margin-right: 1.1rem ;
    font-size: 1.5rem;
    width: max-content;
}
nav .logo{
    font-family: "poppins", monospace;
    font-size: 1.8rem;
    float: left;
    width: 40%;
    height: 100%;
    color: #fff;
    display: flex;
    align-items: center;
    margin-top: 0.64rem;
}

.nav-list:hover{
    opacity: 0.8;
    transform: scale(5px);
    color: maroon;
    transition: color .4s ease-in-out;
    background-color: white;
}

#nav-toggle{
    position: absolute;
    top: -100px;
}


nav .icon-burger{
    display: none;
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
}

.line{
    width: 30px;
    height: 5px;
    background-color: #fff;
    margin: 5px;
    border-radius: 3px;
}

.light{
    font-weight: 500;
    color:#f47458;
}

#active{
    background-color:#f47458;
    color: black;
}

@media screen and (max-width: 922px) {
    /* .logo{
        float: none;
        width: auto;
        display: flex;
        justify-content: center;
    } */

    section{
        height: 100vh;
    }

    .nav-links{
        float: none;
        position: fixed;
        z-index: 9;
        left: 0;
        right: 0;
        top: 100px;
        bottom: 100%;
        width: auto;
        height: auto;
        flex-direction: column;
        background-color: rgba(12, 12, 10, 0.459);
        overflow: hidden;
        transition: all .9s cubic-bezier(0.475, 0.885, 0.82, 1.375);
    }

    .nav-list{
        font-size: 20px;
    }

    nav :checked ~ .nav-links{
        bottom: 0;
    }

    nav .icon-burger{
        display: block;
    }

    nav :checked ~ .icon-burger .line:nth-child(1){
        transform: translatex(-10px);
    }

    nav :checked ~ .icon-burger .line:nth-child(2){
        display: none;
    }

    nav :checked ~ .icon-burger .line:nth-child(3){
        transform: translatex(10px);
    }
    .line{
        transition:all .5s ease-in-out;
    }
}



.buttons{
    display: flex;
    flex-direction: row;
    width: 100;
    margin: 4rem 0;
}

button{
    padding: 1.5rem;
    margin-right: 2rem;
    border-radius: 1.1rem;
    border: none;
    font-weight: bold;
    font-size: 1.5rem;
}

.btn-1{
    background-color: white
    color: white;
}

.btn-2{
    background-color:maroon;
    color: white;
}

.btn-2 a{
    text-decoration: none;
    color: #fff;
}

.btn-1:hover{
    opacity: 0.8;
    background-color:maroon;
    color: blanchedalmond;
    transition: all .6s ease-in-out;
    cursor: pointer;
}

.btn-2:hover{
    opacity: 0.8;
    background-color: #466eb6;
    color: black;
    transition: all .6s ease-in-out;
    cursor: pointer;
}

.illustration{
   width: 100%;
   margin: 0 auto;
}

.illustration img{
    max-width: 100%;
    width: 23rem;
    margin-left: 12rem;
    overflow: hidden;
}

@media screen and (max-width: 1250px){
    section{
        display: flex;
        flex-direction: column;
    }

    .illustration{
        display: none;
        transition: display .5s ease-out;
    }

}

@media screen and (min-width: 650px){
    .small-bg{
        display: block;
        height: 100%;
        overflow: hidden;
        opacity: 0.4;
        background-color: black;
        filter: blur(6px);
        transition: opacity .6s ease-in-out;
    }
}


#about{
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
    top: 200px;
    justify-content: center;
    padding-bottom: 2rem;
}

.heading{
    display: flex;
    justify-content: center;
    font-size: 2.3rem;
    font-weight: bold;
    margin: 5rem 0;
}

.heading h3::before{
    position: absolute;
    left: 0;
    content: "";
    width: 7rem;
    height: 3px;
    background-color: darkgoldenrod;
    animation-name: elongate;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes elongate{
    0%{
        width: 14rem;
        transition: all .5s ease-in-out;
    }

    50%{
        width: 25rem;
        transition: all .5s ease-in-out;
    }
    100%{
        width: 7rem;
        transition: all .5s ease-in-out;
    }
}

.about-us{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.flex-items{
    flex-basis: 33.3%;
    padding: 1.5rem;
    margin: 0 1.7rem;
    max-width: 20rem;
    background-color:#f47458;
    border-radius: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* .flex-items:nth-child(odd){
    background-color: rgba(26, 24, 24, 0.781);
} */

.flex-items img{
    width: 70%;
    margin-bottom: 2rem;
    border: none;
}

.flex-items p{
    border-top: 2px solid black;
    width: 100%;
}

@media screen and (max-width: 768px){
    .about-us{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
    }

    .flex-items{
        width: 60%;
        margin: 1.3rem auto;
    }
}

.logo img{
    width: 100%;
    max-width: 6rem;
    background-color: white;
    border-radius: 50%;
    margin-bottom: 1.3rem;
}

.about{
    width: 100%;
    font-size: 1.2rem;
    display: flex;
    margin: 0 auto;
}

.about h3{
    margin-bottom: 1.6rem;
}

.about ul li{
    margin-bottom: 7px;
}


.about-us{
    margin: 10rem auto;
    font-size: 1.4rem;
}

.emphasis{
    margin-top: 4.9rem;
    background-color: maroon;
    color: #fff;
    border-radius: 13px;
    padding: 1.3%;
    margin-bottom: 1.9rem;
}

.contact{
    font-size: 1.4rem;
}

.contact{
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
}

.card{
    flex-basis: 33.3%;
    background-color: #f47458;
    border-radius: 3rem;
    padding: 3%;
    margin-right: 1.4rem;
    width: 100%;
    height: 47rem;
}

.card h2{
    margin-bottom: 2rem;
}

.beginner button{
    margin-top: 4rem;
}

@media screen and (max-width: 1250px){
    .contact{
        display: flex;
        flex-direction: column;
        width: 70%;
    }
    .card{
        margin: 3rem 0;
        padding: 2.5rem;
    }
}

